<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
	link(rel="stylesheet", href="https://necolas.github.io/normalize.css/3.0.2/normalize.css")
	link(rel="stylesheet", href="css/style.css")
	title Smart Watch
body
	header
		.container
			.logo
				a(href="/")	smart watch <i>продажа часов</i>
			.sandwich
				img(src="images/sandwich.png", alt="")
			nav
				ul
					li
						a(href="#" class="nav1") Каталог
					li
						a(href="#" class="nav2") Как заказать
					li
						a(href="#" class="nav3") Отзывы
					li
						a(href="#" class="nav4") Контакты
			.mobile-nav
				ul
					li
						a(href="#" class="nav1") Каталог
					li
						a(href="#" class="nav2") Как заказать
					li
						a(href="#" class="nav3") Отзывы
					li
						a(href="#" class="nav4") Контакты
			h1.
				Купить smart-часы
			p.
				Время бесценно!<br>
				Поэтому мы продаём не просто часы, а универсальные наручные устройства на все случаи жизни. Интеграция со смартфоном, детская безопасность, забота о здоровье, телефонные переговоры, спортивная хронографика — лишь малая часть тех функций, которые выполняют часы из нашего каталога. Причём за самые скромные деньги!

			.tocat.nav1 Выбрать модель
			.down-btn.nav1
				img(src="images/down-btn.png", alt="")
	section.what
		.container
			h2.
				Что такое <i>SMART-ЧАСЫ?</i>
			.about-watches.
				Как не пропустить важный звонок? <br>
				Где сейчас находится дочь? <br>
				Как принять звонок за рулём? <br>
				Чем дополнить свой деловой стиль? <br>
				Надо ли мне больше двигаться? <br>
				Как прочесть сообщение посреди давки в метро? <br>
				Не прогуливает ли сын уроки? <br>
				Где подобрать стильный аксессуар на каждый день? <br>
				Какое расстояние я сегодня прошёл? <br>
				Как перестать опаздывать? <br><br>

				На любой вопрос мы найдём лёгкое, удобное и стильное решение!


			img(src="images/section2-watch.png", alt="")
	section.faq
		.container
			.faq-title Вопросы и ответы
			.faq-item
				.q Зачем стоит покупать smart часы?
				.a.
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et veritatis voluptas, non magnam itaque sint officia magni, distinctio quas aspernatur cum consequatur dignissimos, hic qui. Rerum excepturi nobis veritatis repellendus labore eaque cumque maxime eos consequuntur deleniti mollitia ab tempore ea, iste quasi iusto commodi adipisci quidem, est sed dolorem. Sapiente non quia, quisquam mollitia officia debitis blanditiis qui tenetur, minima, quo dolore rem quas! Aut dolor, voluptatibus tempora! Aperiam sunt culpa ipsa ducimus voluptatum autem veritatis cumque, sequi quisquam fuga, eaque quam quasi quia dolorem voluptates nemo magni, illo asperiores? Voluptatem ad, minima esse? Nisi ipsum unde adipisci laudantium.
			.faq-item
				.q Зачем стоит покупать smart часы?
				.a.
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et veritatis voluptas, non magnam itaque sint officia magni, distinctio quas aspernatur cum consequatur dignissimos, hic qui. Rerum excepturi nobis veritatis repellendus labore eaque cumque maxime eos consequuntur deleniti mollitia ab tempore ea, iste quasi iusto commodi adipisci quidem, est sed dolorem. Sapiente non quia, quisquam mollitia officia debitis blanditiis qui tenetur, minima, quo dolore rem quas! Aut dolor, voluptatibus tempora! Aperiam sunt culpa ipsa ducimus voluptatum autem veritatis cumque, sequi quisquam fuga, eaque quam quasi quia dolorem voluptates nemo magni, illo asperiores? Voluptatem ad, minima esse? Nisi ipsum unde adipisci laudantium.
			.faq-item
				.q Зачем стоит покупать smart часы?
				.a.
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et veritatis voluptas, non magnam itaque sint officia magni, distinctio quas aspernatur cum consequatur dignissimos, hic qui. Rerum excepturi nobis veritatis repellendus labore eaque cumque maxime eos consequuntur deleniti mollitia ab tempore ea, iste quasi iusto commodi adipisci quidem, est sed dolorem. Sapiente non quia, quisquam mollitia officia debitis blanditiis qui tenetur, minima, quo dolore rem quas! Aut dolor, voluptatibus tempora! Aperiam sunt culpa ipsa ducimus voluptatum autem veritatis cumque, sequi quisquam fuga, eaque quam quasi quia dolorem voluptates nemo magni, illo asperiores? Voluptatem ad, minima esse? Nisi ipsum unde adipisci laudantium.
			.faq-item
				.q Зачем стоит покупать smart часы?
				.a.
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et veritatis voluptas, non magnam itaque sint officia magni, distinctio quas aspernatur cum consequatur dignissimos, hic qui. Rerum excepturi nobis veritatis repellendus labore eaque cumque maxime eos consequuntur deleniti mollitia ab tempore ea, iste quasi iusto commodi adipisci quidem, est sed dolorem. Sapiente non quia, quisquam mollitia officia debitis blanditiis qui tenetur, minima, quo dolore rem quas! Aut dolor, voluptatibus tempora! Aperiam sunt culpa ipsa ducimus voluptatum autem veritatis cumque, sequi quisquam fuga, eaque quam quasi quia dolorem voluptates nemo magni, illo asperiores? Voluptatem ad, minima esse? Nisi ipsum unde adipisci laudantium.
	section.advantages
		.container
			h3 Наши преимущества
			.advantages-wrap
				.adv-item
					img(src="images/adv1.png", alt="Лучшие цены, постоянные акции!")
					p Лучшие цены, постоянные акции!
				.adv-item
					img(src="images/adv2.png", alt="100% гарантия возврата денег!")
					p 100% гарантия возврата денег!
				.adv-item
					img(src="images/adv3.png", alt="Официальный диллер в РФ")
					p Официальный диллер в РФ
				.adv-item
					img(src="images/adv4.png", alt="Быстрая доставка по России")
					p Быстрая доставка по России
	section.hits
		.container
			h4 Хиты-продаж
			.watch.hit.w1
				img(src="images/hit-label.png", alt="Хит-продаж")
				.watch-description
					.watch-item
						.watch-title Smart Baby Watch Q50
						.watch-price 3990.00 RUB
					.about-watch
						p.
							Это одно из самых популярных устройств, которые помогают родителям заботиться о безопасности своих детей без вторжения в их личную жизнь. Широкий функционал обеспечивает максимально высокий объём информации о местонахождении и даже самочувствии ребёнка. При этом простой, даже минималистичный дизайн гарантирует, что ребёнок не запутается в кнопках и наверняка применит устройство по назначению в случае малейших проблем.
						p.hidden.
							1. Приём и совершение телефонных вызовов <br>
							2. Обмен голосовыми сообщениями <br>
							3. Тайная прослушка <br>
							4. Приём текстовых сообщений <br>
							5. GPS-трекер <br>
							6. Будильник с напоминаниями <br>
							7. Фитнес-трекер
						p.hidden.
							Дисплей: OLED <br>
							Работа в сетях 850/900/1800/1900МГц <br>
							GSM чип: MTK6261; GPS чип: UBX7020 <br>
							GPRS чип: Class 12, TCP IP встроен в GSM Module <br>
							GPS чувствительность: -159dbm <br>
							GPS погрешность: 10м (2D RM) <br>
							GSM погрешность: 50-200 meter <br>
							определение скорости от: 0.1м/с <br>
							Работа над уровнем моря макс: 18000 meter <br>
							Батарея: 3.7V, 400mA <br>
							Размеры: 54х34х12 мм <br>
							Вес: 35.1 гр

						a(href="#" class="read-more") Читать полностью
					.watch-params
						//- .param.p1 Встроеный Bluetooth
						.param.p2 Батарея 400 mА
						//- .param.p3 Встроенная камера
						//- .param.p4 Время работы 16 часов
				.watch-photos
					.watch-slider
						img(src="images/hit1.png", alt="Smart Baby Watch Q50")
					.dots
						.dot
						.dot
						.dot
						.dot
				.order
					input(type="text" placeholder="Ваше имя" class="form-name" name="form-name" required)
					input(type="text" placeholder="Ваш телефон" class="form-phone" name="form-phone" required)
					input(type="hidden" name="form-item" value="Smart Baby Watch Q50" class="form-item")
				.watch-btn 
					div.send-btn(name="submit" type="submit") Заказать сейчас!
			.watch.hit.w2
				img(src="images/hit-label.png", alt="Хит-продаж")
				.watch-description
					.watch-item
						.watch-title Smart Baby Watch Q60
						.watch-price 4590.00 RUB
					.about-watch
						p.
							Это усовершенствованная версия умных часов для детей Q50, которые приобрели огромную популярность среди родителей, заботящихся о своих отпрысках. Помимо стандартных функций, обеспечивающих полный контроль над безопасностью ребёнка, Q60 отличаются водонепроницаемым корпусом, цветным дисплеем и большей стабильностью в работе.
						p.hidden.
							Дисплей: OLED <br>
							Работа в сетях 850/900/1800/1900МГц <br>
							GSM чип: MTK6261; GPS чип: UBX7020 <br>
							GPRS чип: Class 12, TCP IP встроен в GSM Module <br>
							GPS чувствительность: -159dbm <br>
							GPS погрешность: 10м (2D RM) <br>
							GSM погрешность: 50-200 meter <br>
							определение скорости от: 0.1м/с <br>
							Работа над уровнем моря макс: 18000 meter <br>
							Батарея: 3.7V, 400mA <br>
							Размеры: 54х34х12 мм <br>
							Вес: 35.1 гр

						a(href="#" class="read-more") Читать полностью
					.watch-params
						//- .param.p1 Встроеный Bluetooth
						.param.p2 Батарея 400 mА
						//- .param.p3 Встроенная камера
						//- .param.p4 Время работы 16 часов
				.watch-photos
					.watch-slider
						img(src="images/hit2.png", alt="Smart Baby Watch Q60")
					.dots
						.dot
						.dot
						.dot
						.dot
				.order
					input(type="text" placeholder="Ваше имя" class="form-name" name="form-name" required)
					input(type="text" placeholder="Ваш телефон" class="form-phone" name="form-phone" required)
					input(type="hidden" name="form-item" value="Smart Baby Watch Q60" class="form-item")
				.watch-btn 
					div.send-btn(name="submit" type="submit") Заказать сейчас!
	section.bonus
		.bonus-content
			p СПЕЦИАЛЬНОЕ ПРЕДЛOЖЕНИЕ
			div.
				Закажите любой товар прямо сейчас и получите полную настройку выбранного устройства совершенно <br>
				<b>БЕСПЛАТНО</b>
		.bonus-btn 
				div Заказать сейчас!
	section.catalog
		.container
			.catalog-title Выбери свои <i>SMART-ЧАСЫ</i>
			.watch.w3
				.watch-description
					.watch-item
						.watch-title Smart Watch W8
						.watch-price 3990.00 RUB
					.about-watch
						p.
							Самый добрый спутник для любого обладателя смартфона на базе Android или iOS! Крошечный корпус весом всего 56 грамм вмещает в себя функционал дюжины привычных устройств: будильники, часы, календарь, калькулятор, музыкальный проигрыватель, адресная книга, высотомер, термометр, секундомер, барометр, пульт камеры, гарнитура… всё ещё мало для такой смешной цены?
					.watch-params
						//- .param.p1 Встроеный Bluetooth
						//- .param.p2 Батарея 400 mА
						//- .param.p3 Встроенная камера
						//- .param.p4 Время работы 16 часов
				.watch-photos
					.watch-slider
						img(src="images/w1.png", alt="Smart Baby W8")
					.dots
						.dot
						.dot
						.dot
						.dot
				.order
					input(type="text" placeholder="Ваше имя" class="form-name" name="form-name" required)
					input(type="text" placeholder="Ваш телефон" class="form-phone" name="form-phone" required)
					input(type="hidden" name="form-item" value="Smart Baby W8" class="form-item")
				.watch-btn 
					div.send-btn(name="submit" type="submit") Заказать сейчас!
			.watch.w4
				.watch-description
					.watch-item
						.watch-title Smart Watch GT08
						.watch-price 4050.00 RUB
					.about-watch
						p.
							Это доступный, но в то же время удивительно удобный аналог знаменитых Apple Watch. Благодаря этому лёгкому устройству вы сможете без лишних трудностей значительно расширить функционал своего смартфона. Полный контроль звонков и СМС, а также целый ряд дополнительных опций позволят вам сэкономить драгоценное время, которое обычно тратится на возню с телефоном.
						p.hidden.
							Связь: GSM/GPRS <br>
							Стандарт: 850/900/1800/1900MHz <br>
							Языки интерфейса: английский, русский <br>
							Экран: Сенсорный, TFT, 240х240 пикселей. <br>
							Память: 128+64 Мб. <br>
							Карта памяти: MicroSD <br>
							Корпус часов (материал): сталь <br>
							Bluetooth: есть, 3.0 <br>
							Емкость аккумулятора: Li-pol, 350 мАч <br>
							Вес: 62 гр. <br>
							Совместимость: IOS, Android Bluetooth 3.0+
						p.hidden.
							Дополнительные функции: таймер сна, камера, шагомер, телефонные звонки, синхронизация контактов, ответ на звонок, поиск телефона, телефонная книжка, музыкальный проигрыватель, счётчик калорий, уведомление о звонках.
						a(href="#" class="read-more") Читать полностью
					.watch-params
						.param.p1 Встроеный Bluetooth
						.param.p2 Батарея 350 мАч
						//- .param.p3 Встроенная камера
						//- .param.p4 Время работы 16 часов
				.watch-photos
					.watch-slider
						img(src="images/w2.png", alt="Smart Baby GT08")
					.dots
						.dot
						.dot
						.dot
				.order
					input(type="text" placeholder="Ваше имя" class="form-name" name="form-name" required)
					input(type="text" placeholder="Ваш телефон" class="form-phone" name="form-phone" required)
					input(type="hidden" name="form-item" value="Smart Baby GT08" class="form-item")
				.watch-btn 
					div.send-btn(name="submit" type="submit") Заказать сейчас!
			.watch.w5
				.watch-description
					.watch-item
						.watch-title Smart Watch A1
						.watch-price 4290.00 RUB
					.about-watch
						p.
							Этот простой на вид аппарат отличается беспрецедентной функциональностью даже среди других продуктов нашего каталога. Чего стоит одна только камера! Несколько лет назад мы не моги представить, что даже в телефоне может быть достаточно качественная камера, а теперь это по силам даже маленьким наручным часам. По сути вы получаете функционал целого смартфона в удивительно компактном корпусе и по удивительно низкой цене.
						p.hidden.
							- русский и английский язык интерфейса <br>
							- встроенная камера 0,3 мегапикселя <br>
							- совместимость с Android и iOS <br>
							- слот для стандартной SIM-карты <br>
							- двусторонний поиск
						a(href="#" class="read-more") Читать полностью
					.watch-params
						//- .param.p1 Встроеный Bluetooth
						//- .param.p2 Батарея 1600 А
						.param.p3 Встроенная камера
						//- .param.p4 Время работы 16 часов
				.watch-photos
					.watch-slider
						img(src="images/w3.png", alt="Smart Baby A1")
					.dots
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
				.order
					input(type="text" placeholder="Ваше имя" class="form-name" name="form-name" required)
					input(type="text" placeholder="Ваш телефон" class="form-phone" name="form-phone" required)
					input(type="hidden" name="form-item" value="Smart Baby A1" class="form-item")
				.watch-btn 
					div.send-btn(name="submit" type="submit") Заказать сейчас!
			.watch.w6
				.watch-description
					.watch-item
						.watch-title Smart Watch Q88
						.watch-price - RUB
					.about-watch
						p.
							Пожалуй, одной из самых универсальных и взвешенных решений на рынке умных часов. Помимо стандартного набора функций, они отличаются широким ассортиментом расцветок, в котором каждый найдёт оттенок по душе, будь то деловой мужчина или молодая спортсменка. Звонки, сообщения, шагомер, управление камерой, пульсомер и многие другие функции будут надёжной опорой вашим делам.
						p.hidden.
							Связь: Стандарт GSM 850/900/1800/1900МГц <br>
							Языки: Англ, русский <br>
							Экран: Сенсорный TFT-дисплей 240х240 <br>
							Память: 128+64MB <br>
							Поддержка карт памяти: Есть <br>
							Динамик/громкая связь: Есть <br>
							Камера: Есть (фото 640х480 и видео 320х240) <br>
							Количество симкарт: 1 <br>
							Bluetooth: 3.0 <br>
							Емкость аккумулятора: 400 мАч <br>
							Корпус часов (материал): Сталь <br>
							Материал ремешка: Силикон <br>
							Вес: 62 гр. <br>
							Водонепроницаемость: обычная <br>
							Совместимость: IOS, Android <br>
							Комплектация: Часы, кабель для зарядки, инструкции
						a(href="#" class="read-more") Читать полностью
					.watch-params
						.param.p1 Встроеный Bluetooth
						.param.p2 Батарея 400 мАч
						.param.p3 Встроенная камера
						//- .param.p4 Время работы 16 часов
				.watch-photos
					.watch-slider
						img(src="images/w4.png", alt="Smart Baby Q88")
					.dots
						.dot
						.dot
						.dot
						.dot
				.order
					input(type="text" placeholder="Ваше имя" class="form-name" name="form-name" required)
					input(type="text" placeholder="Ваш телефон" class="form-phone" name="form-phone" required)
					input(type="hidden" name="form-item" value="Smart Baby Q88" class="form-item")
				.watch-btn 
					div.send-btn(name="submit" type="submit") Заказать сейчас!
			.watch.w7
				.watch-description
					.watch-item
						.watch-title Smart Watch DZ09
						.watch-price 4290.00 RUB
					.about-watch
						p.
							Это равноценная замена для часов Samsung Gear, которая не уступает им в качестве, но при этом стоит на порядок меньше. Полный функционал оригинальных часов Samsung здесь дополнен строгим дизайном и подкреплён надёжными материалами. Однажды надев такие часы, вы больше не сможете отказать себе в удобстве контролировать все телефонные уведомления, не доставая телефона.
						p.hidden.
							Беспроводная связь: GSM 850/900/1800/1900МГц, <br>
							Bluetooth 3.0 <br>
							Тип экрана: 1,54-дюймовый экран, 240х240 px <br>
							Интерфейс: английский, русский <br>
							Процессор: MTK6260A <br>
							Память: 128+64 Мбайт + поддержка MicroSD (до 16 гигабайт) <br>
							Батарея: Li-po 350mAh (хватает на 2-3 дня) <br>
							Корпус: нержавеющая сталь <br>
							Ремешок: резина(силикон); -белый, черный, золотой <br>
							Цвет корпуса: серый, золотой

						a(href="#" class="read-more") Читать полностью
					.watch-params
						.param.p1 Встроеный Bluetooth
						.param.p2 Батарея 350mAh
						//- .param.p3 Встроенная камера
						.param.p4 Время работы 72 часа
				.watch-photos
					.watch-slider
						img(src="images/w5.png", alt="Smart Baby DZ09")
					.dots
						.dot
						.dot
						.dot
						.dot
				.order
					input(type="text" placeholder="Ваше имя" class="form-name" name="form-name" required)
					input(type="text" placeholder="Ваш телефон" class="form-phone" name="form-phone" required)
					input(type="hidden" name="form-item" value="Smart Baby DZ09" class="form-item")
				.watch-btn 
					div.send-btn(name="submit" type="submit") Заказать сейчас!
			.watch.w8
				.watch-description
					.watch-item
						.watch-title Smart Watch GV11
						.watch-price 4590.00 RUB
					.about-watch
						p.
							Это лаконичный ответ на жалобы о том, что умные часы Samsung Gear отличаются слишком высокой ценой. И в самом деле, GV11 совсем не уступают им по функционалу, а вот стоимость ниже в несколько раз. Bluetooth, SIM-карта, 2-мегапиксельная камера, полная поддержка не только Android, но и iOS — это гарантия удобства и эффективности наручных часов для интеграции со смартфоном.
						p.hidden.
							Материал корпуса: металл/пластик <br>
							Материал ремешка: резина <br>
							Цвет: черный, белый, оранжевый <br>
							Поддержка платформ: Android (для работы всех функций требуется установка доп.  <br>программного обеспечения на смартфон), любая с Bluetooth V 2.1 и выше (не все функции) <br>
							Дисплей: 1.54" дюйма TFT LCD, сенсорный емкостный, OGS <br>
							Разрешение: 240*240 точек <br>
							CPU: MediaTek MTK6260A <br>
							Частота: 533MHz (по другим данным 360MHz) <br>
							Память: RAM 64Mb <br>
							ROM 128Mb <br>
							Операционная система: проприетарная MTK <br>
							Поддержка сетей: GSM 850MHz, GSM 900MHz, GSM 1800MHz, GSM 1900MHz, <br>
							Сим карта: 1 microSIM <br>
							Передача данных: GPRS <br>
							Поддержка карт памяти: MicroSD до 16 Gb <br>
							Bluetooth: Версии 3.0 (AVRCP/A2DP,SPP) <br>
							Камера: 1,3 Mп <br>
							G-sensor : есть <br>
							Вибро: есть <br>
							Тип разъема USB: microUSB <br>
							Батарея: 380mAh <br>
							Время ожидания: более 7 дней <br>
							Время работы: более 2 дней <br>
							Языки: русский, английский, французский, немецкий, испанский, португальский,  <br>итальянский, датский, польский, турецкий <br>
							Тип клавиатуры: виртуальная клавиатура QWERTY +1 боковая кнопка
						a(href="#" class="read-more") Читать полностью
					.watch-params
						.param.p1 Встроеный Bluetooth
						.param.p2 Батарея 380mAh
						.param.p3 Встроенная камера
						.param.p4 Время работы 48 часов
				.watch-photos
					.watch-slider
						img(src="images/w6.png", alt="Smart Baby GV11")
					.dots
						.dot
						.dot
						.dot
				.order
					input(type="text" placeholder="Ваше имя" class="form-name" name="form-name" required)
					input(type="text" placeholder="Ваш телефон" class="form-phone" name="form-phone" required)
					input(type="hidden" name="form-item" value="Smart Baby GV11" class="form-item")
				.watch-btn 
					div.send-btn(name="submit" type="submit") Заказать сейчас!
			.watch.w9
				.watch-description
					.watch-item
						.watch-title Shark Sport Watch
						.watch-price 4390.00 RUB
					.about-watch
						p.
							Часы, которые выделяют из толпы. Этот простой аксессуар сделает мальчика мужчиной, а мужчину — настоящим мачо. Элегантные в своей грубости очертания корпуса всем своим видом говорят о надёжности. Причём эта надёжность касается и самих часов, и личности их обладателя. Кварцевый мехнизм, зарекомендовавший себя на века, не даст сбоев и всегда покажет нужное время — время быть лучшим!
					//- .watch-params
					//- 	.param.p1 Встроеный Bluetooth
					//- 	.param.p2 Батарея 1600 А
					//- 	.param.p3 Встроенная камера
					//- 	.param.p4 Время работы 16 часов
				.watch-photos
					.watch-slider
						img(src="images/w7.png", alt="Shark Sport Watch")
					.dots
						.dot
						.dot
						.dot
						.dot						
				.order
					input(type="text" placeholder="Ваше имя" class="form-name" name="form-name" required)
					input(type="text" placeholder="Ваш телефон" class="form-phone" name="form-phone" required)
					input(type="hidden" name="form-item" value="Shark Sport Watch" class="form-item")
				.watch-btn 
					div.send-btn(name="submit" type="submit") Заказать сейчас!
			.watch.w10
				.watch-description
					.watch-item
						.watch-title Magir Watch
						.watch-price 3990.00 RUB
					.about-watch
						p.
							Настоящий хит 2016 года среди любителей наручных часов. Мощный вид этого хронографа станет идеальным дополнением к современному стилю успешного мужчины. А его безупречная функциональность прибавит веса вашим словам, ведь с ним вы всегда будете пунктуальны и уверены в своём распорядке дня. И это безо всякого дискомфорта, ведь уникальный сплав PVD позволил производителю сделать такой внушительный на вид механизм почти невесомым — всего 120 грамм!
					//- 	p.hidden.
					//- 		Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
					//- 	a(href="#" class="read-more") Читать полностью
					//- .watch-params
					//- 	.param.p1 Встроеный Bluetooth
					//- 	.param.p2 Батарея 1600 А
					//- 	.param.p2 Встроенная камера
					//- 	.param.p3 Время работы 16 часов
				.watch-photos
					.watch-slider
						img(src="images/w8.png", alt="Magir Watch")
					.dots
						.dot
						.dot
						.dot
						.dot
				.order
					input(type="text" placeholder="Ваше имя" class="form-name" name="form-name" required)
					input(type="text" placeholder="Ваш телефон" class="form-phone" name="form-phone" required)
					input(type="hidden" name="form-item" value="Magir Watch" class="form-item")
				.watch-btn 
					div.send-btn(name="submit" type="submit") Заказать сейчас!
			.watch.w11
				.watch-description
					.watch-item
						.watch-title Smart Watch U8
						.watch-price 3690.00 RUB
					.about-watch
						p.
							Cамое бюджетное решение в нашем каталоге, которое будет по карману абсолютно всем, и огромный спрос на эти часы лишь подтверждает это! Любой школьник может скопить на U8 из своих карманных денег, ну а любому взрослому со своим заработком будет не жалко потратиться даже ради интереса. Впрочем, пусть цена не вводит вас в заблуждение, ведь этим умным часам по силам многое: звонки, сообщения, сигнализация, барометр, шагомер, альтиметр и многое другое!
					//- 	p.hidden.
					//- 		Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
					//- 	a(href="#" class="read-more") Читать полностью
					//- .watch-params
					//- 	.param.p1 Встроеный Bluetooth
					//- 	.param.p2 Батарея 1600 А
					//- 	.param.p3 Встроенная камера
					//- 	.param.p4 Время работы 16 часов
				.watch-photos
					.watch-slider
						img(src="images/w9.png", alt="Smart Watch U8")
					.dots
						.dot
						.dot
						.dot
						.dot
						.dot
				.order
					input(type="text" placeholder="Ваше имя" class="form-name" name="form-name" required)
					input(type="text" placeholder="Ваш телефон" class="form-phone" name="form-phone" required)
					input(type="hidden" name="form-item" value="Smart Watch U8" class="form-item")
				.watch-btn 
					div.send-btn(name="submit" type="submit") Заказать сейчас!
			//- .watch.w12
			//- 	.watch-description
			//- 		.watch-item
			//- 			.watch-title Smart Watch GV11
			//- 			.watch-price 1 610.00 RUB
			//- 		.about-watch
			//- 			p.
			//- 				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			//- 			p.hidden.
			//- 				Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
			//- 			a(href="#" class="read-more") Читать полностью
			//- 		.watch-params
			//- 			.param Встроеный Bluetooth
			//- 			.param Батарея 1600 А
			//- 			.param Встроенная камера
			//- 			.param Время работы 16 часов
			//- 	.watch-photos
			//- 		.watch-slider
			//- 			img(src="images/w10.png", alt="Smart Watch GV11")
			//- 		.dots
			//- 			.dot
			//- 			.dot
			//- 			.dot
			//- 	.order
			//- 		input(type="text" placeholder="Ваше имя" class="form-name" name="form-name" required)
			//- 		input(type="text" placeholder="Ваш телефон" class="form-phone" name="form-phone" required)
			//- 		input(type="hidden" name="form-item" value="Smart Watch GV11" class="form-item")
			//- 	.watch-btn 
			//- 		div.send-btn(name="submit" type="submit") Заказать сейчас!
	section.steps
		.wrap
			.steps-title Как сделать заказ <i>у нас на сайте</i>
			ul
				li
					span Заявка
					p.
						Выбираете понравившуюся модель <br>
						и оставляете заявку, указав свой телефон
				li
					span Звонок
					p.
						С вами связывается наш менеджер, <br>
						для консультации и подтверждения заказа
				li
					span Доставка
					p.
						Мы сразу отправляем часы <br>
						на указанный Вами адрес в любой город
				li
					span Оплата
					p.
						Вы получаете часы у курьера <br>
						и производите оплату за них
			p.
				Доставка по Москве бесплатно. По московской области и в регионы - 500 руб.
	section.response
		.container
			h5 Отзывы <i>наших клиентoв</i>
			.response-wrap
				.response-item
					.avatar
						img(src="images/ava.png", alt="Ирина Бурчук")
					.author-name Ирина Бурчук
					.about-author.
						26 лет, купила часы <br> с доставкой в Краснодар
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
				.response-item
					.avatar
						img(src="images/ava.png", alt="Ирина Бурчук")
					.author-name Ирина Бурчук
					.about-author.
						26 лет, купила часы <br> с доставкой в Краснодар
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
				.response-item
					.avatar
						img(src="images/ava.png", alt="Ирина Бурчук")
					.author-name Ирина Бурчук
					.about-author.
						26 лет, купила часы <br> с доставкой в Краснодар
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
			.show-more Показать еще...
	footer
		.container
			h6 Как <i>с нами связаться?</i>
			.contacts-info
				p.
					По вопросам оптовых закупок обращайтесь по электронной почте: smartmywatch@gmail.com
				p.
					ИП Добрынина Елена Викторовна
				p.
					ИНН 450100047534
				p.
					ОГРНИП 310450108300097
				p.
					ОКПО 0113191669
				p.
					г.Москва, м.Новокосино, Носовихинское шоссе 45, ТЦ Реутов-парк
				p.
					тел.: +7 (495) 532 999 0
	.modal-bg
	.thx
		p.
			<b>Благoдарим Вас</b>, <br>
			Ваша заявка oтnравлена. <br>
			Мы свяжемся с вами <br>
			в ближайщее время!
		a(href="#" id="close-modal")	Закрыть
	script(src="js/jquery-2.1.3.min.js")
	script(src="js/main.js")
