<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
	link(rel="stylesheet", href="https://necolas.github.io/normalize.css/3.0.2/normalize.css")
	link(rel="stylesheet", href="css/style.css")
	title Smart Watch
body
	header
		.container
			.logo
				a(href="/")	smart watch <i>продажа часов</i>
			.sandwich
				img(src="images/sandwich.png", alt="")
			nav
				ul
					li
						a(href="#" class="nav1") Каталог
					li
						a(href="#" class="nav2") Как заказать
					li
						a(href="#" class="nav3") Отзывы
					li
						a(href="#" class="nav4") Контакты
			.mobile-nav
				ul
					li
						a(href="#" class="nav1") Каталог
					li
						a(href="#" class="nav2") Как заказать
					li
						a(href="#" class="nav3") Отзывы
					li
						a(href="#" class="nav4") Контакты
			h1.
				Купить smart-часы
			p.
				Оперативная доставка по всей россии <br> и ближнему зарубежью. Низкие цены и высокое качество.
			.tocat.nav1 Выбрать модель
			.down-btn.nav1
				img(src="images/down-btn.png", alt="")
	section.what
		.container
			h2.
				Что такое <i>SMART-ЧАСЫ?</i>
			.about-watches.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
			img(src="images/section2-watch.png", alt="")
	section.advantages
		.container
			h3 Наши преимущества
			.advantages-wrap
				.adv-item
					img(src="images/adv1.png", alt="Лучшие цены, постоянные акции!")
					p Лучшие цены, постоянные акции!
				.adv-item
					img(src="images/adv2.png", alt="100% гарантия возврата денег!")
					p 100% гарантия возврата денег!
				.adv-item
					img(src="images/adv3.png", alt="Официальный диллер в РФ")
					p Официальный диллер в РФ
				.adv-item
					img(src="images/adv4.png", alt="Быстрая доставка по России")
					p Быстрая доставка по России
	section.hits
		.container
			h4 Хиты-продаж
			.watch.hit.w1
				img(src="images/hit-label.png", alt="Хит-продаж")
				.watch-description
					.watch-item
						.watch-title Smart Baby Watch Q50
						.watch-price 1 610.00 RUB
					.about-watch
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						p.hidden.
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						a(href="#" class="read-more") Читать полностью
					.watch-params
						.param Встроеный Bluetooth
						.param Батарея 1600 А
						.param Встроенная камера
						.param Время работы 16 часов
				.watch-photos
					.watch-slider
						img(src="images/hit1.png", alt="Smart Baby Watch Q50")
					.dots
						.dot
						.dot
						.dot
						.dot
				.order
					input(type="text" placeholder="Ваше имя" class="form-name" name="form-name" required)
					input(type="text" placeholder="Ваш телефон" class="form-phone" name="form-phone" required)
					input(type="hidden" name="form-item" value="Smart Baby Watch Q50" class="form-item")
				.watch-btn 
					div.send-btn(name="submit" type="submit") Заказать сейчас!
			.watch.hit.w2
				img(src="images/hit-label.png", alt="Хит-продаж")
				.watch-description
					.watch-item
						.watch-title Smart Baby Watch Q60
						.watch-price 1 610.00 RUB
					.about-watch
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						p.hidden.
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						a(href="#" class="read-more") Читать полностью
					.watch-params
						.param Встроеный Bluetooth
						.param Батарея 1600 А
						.param Встроенная камера
						.param Время работы 16 часов
				.watch-photos
					.watch-slider
						img(src="images/hit2.png", alt="Smart Baby Watch Q60")
					.dots
						.dot
						.dot
						.dot
						.dot
				.order
					input(type="text" placeholder="Ваше имя" class="form-name" name="form-name" required)
					input(type="text" placeholder="Ваш телефон" class="form-phone" name="form-phone" required)
					input(type="hidden" name="form-item" value="Smart Baby Watch Q60" class="form-item")
				.watch-btn 
					div.send-btn(name="submit" type="submit") Заказать сейчас!
	section.bonus
		.bonus-content
			p СПЕЦИАЛЬНОЕ ПРЕДЛOЖЕНИЕ
			div.
				ЗАКАЖИ ДЕТСКИЕ <br>
				<i>ЧАСЫ Q50 ИЛИ Q60</i> <br>
				И ПОЛУЧИ ВЫЕЗД <br>
				К КЛИЕНТУ <br>
				ДЛЯ НАСТРОЙКИ <br>
				<b>БЕСПЛАТНО</b>
		.bonus-btn 
				div Заказать сейчас!
	section.catalog
		.container
			.catalog-title Выбери свои <i>SMART-ЧАСЫ</i>
			.watch.w3
				.watch-description
					.watch-item
						.watch-title Smart Baby W8
						.watch-price 1 610.00 RUB
					.about-watch
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						p.hidden.
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						a(href="#" class="read-more") Читать полностью
					.watch-params
						.param Встроеный Bluetooth
						.param Батарея 1600 А
						.param Встроенная камера
						.param Время работы 16 часов
				.watch-photos
					.watch-slider
						img(src="images/w1.png", alt="Smart Baby W8")
					.dots
						.dot
						.dot
						.dot
						.dot
				.order
					input(type="text" placeholder="Ваше имя" class="form-name" name="form-name" required)
					input(type="text" placeholder="Ваш телефон" class="form-phone" name="form-phone" required)
					input(type="hidden" name="form-item" value="Smart Baby W8" class="form-item")
				.watch-btn 
					div.send-btn(name="submit" type="submit") Заказать сейчас!
			.watch.w4
				.watch-description
					.watch-item
						.watch-title Smart Baby GT08
						.watch-price 1 610.00 RUB
					.about-watch
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						p.hidden.
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						a(href="#" class="read-more") Читать полностью
					.watch-params
						.param Встроеный Bluetooth
						.param Батарея 1600 А
						.param Встроенная камера
						.param Время работы 16 часов
				.watch-photos
					.watch-slider
						img(src="images/w2.png", alt="Smart Baby GT08")
					.dots
						.dot
						.dot
						.dot
				.order
					input(type="text" placeholder="Ваше имя" class="form-name" name="form-name" required)
					input(type="text" placeholder="Ваш телефон" class="form-phone" name="form-phone" required)
					input(type="hidden" name="form-item" value="Smart Baby GT08" class="form-item")
				.watch-btn 
					div.send-btn(name="submit" type="submit") Заказать сейчас!
			.watch.w5
				.watch-description
					.watch-item
						.watch-title Smart Baby A1
						.watch-price 1 610.00 RUB
					.about-watch
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						p.hidden.
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						a(href="#" class="read-more") Читать полностью
					.watch-params
						.param Встроеный Bluetooth
						.param Батарея 1600 А
						.param Встроенная камера
						.param Время работы 16 часов
				.watch-photos
					.watch-slider
						img(src="images/w3.png", alt="Smart Baby A1")
					.dots
						.dot
						.dot
						.dot
						.dot
						.dot
						.dot
				.order
					input(type="text" placeholder="Ваше имя" class="form-name" name="form-name" required)
					input(type="text" placeholder="Ваш телефон" class="form-phone" name="form-phone" required)
					input(type="hidden" name="form-item" value="Smart Baby A1" class="form-item")
				.watch-btn 
					div.send-btn(name="submit" type="submit") Заказать сейчас!
			.watch.w6
				.watch-description
					.watch-item
						.watch-title Smart Baby Q88
						.watch-price 1 610.00 RUB
					.about-watch
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						p.hidden.
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						a(href="#" class="read-more") Читать полностью
					.watch-params
						.param Встроеный Bluetooth
						.param Батарея 1600 А
						.param Встроенная камера
						.param Время работы 16 часов
				.watch-photos
					.watch-slider
						img(src="images/w4.png", alt="Smart Baby Q88")
					.dots
						.dot
						.dot
						.dot
						.dot
				.order
					input(type="text" placeholder="Ваше имя" class="form-name" name="form-name" required)
					input(type="text" placeholder="Ваш телефон" class="form-phone" name="form-phone" required)
					input(type="hidden" name="form-item" value="Smart Baby Q88" class="form-item")
				.watch-btn 
					div.send-btn(name="submit" type="submit") Заказать сейчас!
			.watch.w7
				.watch-description
					.watch-item
						.watch-title Smart Baby DZ09
						.watch-price 1 610.00 RUB
					.about-watch
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						p.hidden.
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						a(href="#" class="read-more") Читать полностью
					.watch-params
						.param Встроеный Bluetooth
						.param Батарея 1600 А
						.param Встроенная камера
						.param Время работы 16 часов
				.watch-photos
					.watch-slider
						img(src="images/w5.png", alt="Smart Baby DZ09")
					.dots
						.dot
						.dot
						.dot
						.dot
				.order
					input(type="text" placeholder="Ваше имя" class="form-name" name="form-name" required)
					input(type="text" placeholder="Ваш телефон" class="form-phone" name="form-phone" required)
					input(type="hidden" name="form-item" value="Smart Baby DZ09" class="form-item")
				.watch-btn 
					div.send-btn(name="submit" type="submit") Заказать сейчас!
			.watch.w8
				.watch-description
					.watch-item
						.watch-title Smart Baby GV11
						.watch-price 1 610.00 RUB
					.about-watch
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						p.hidden.
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						a(href="#" class="read-more") Читать полностью
					.watch-params
						.param Встроеный Bluetooth
						.param Батарея 1600 А
						.param Встроенная камера
						.param Время работы 16 часов
				.watch-photos
					.watch-slider
						img(src="images/w6.png", alt="Smart Baby GV11")
					.dots
						.dot
						.dot
						.dot
				.order
					input(type="text" placeholder="Ваше имя" class="form-name" name="form-name" required)
					input(type="text" placeholder="Ваш телефон" class="form-phone" name="form-phone" required)
					input(type="hidden" name="form-item" value="Smart Baby GV11" class="form-item")
				.watch-btn 
					div.send-btn(name="submit" type="submit") Заказать сейчас!
			.watch.w9
				.watch-description
					.watch-item
						.watch-title Shark Sport Watch
						.watch-price 1 610.00 RUB
					.about-watch
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						p.hidden.
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						a(href="#" class="read-more") Читать полностью
					.watch-params
						.param Встроеный Bluetooth
						.param Батарея 1600 А
						.param Встроенная камера
						.param Время работы 16 часов
				.watch-photos
					.watch-slider
						img(src="images/w7.png", alt="Shark Sport Watch")
					.dots
						.dot
						.dot
						.dot
						.dot						
				.order
					input(type="text" placeholder="Ваше имя" class="form-name" name="form-name" required)
					input(type="text" placeholder="Ваш телефон" class="form-phone" name="form-phone" required)
					input(type="hidden" name="form-item" value="Shark Sport Watch" class="form-item")
				.watch-btn 
					div.send-btn(name="submit" type="submit") Заказать сейчас!
			.watch.w10
				.watch-description
					.watch-item
						.watch-title Magir Watch
						.watch-price 1 610.00 RUB
					.about-watch
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						p.hidden.
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						a(href="#" class="read-more") Читать полностью
					.watch-params
						.param Встроеный Bluetooth
						.param Батарея 1600 А
						.param Встроенная камера
						.param Время работы 16 часов
				.watch-photos
					.watch-slider
						img(src="images/w8.png", alt="Magir Watch")
					.dots
						.dot
						.dot
						.dot
						.dot
				.order
					input(type="text" placeholder="Ваше имя" class="form-name" name="form-name" required)
					input(type="text" placeholder="Ваш телефон" class="form-phone" name="form-phone" required)
					input(type="hidden" name="form-item" value="Magir Watch" class="form-item")
				.watch-btn 
					div.send-btn(name="submit" type="submit") Заказать сейчас!
			.watch.w11
				.watch-description
					.watch-item
						.watch-title Smart Watch U8
						.watch-price 1 610.00 RUB
					.about-watch
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						p.hidden.
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						a(href="#" class="read-more") Читать полностью
					.watch-params
						.param Встроеный Bluetooth
						.param Батарея 1600 А
						.param Встроенная камера
						.param Время работы 16 часов
				.watch-photos
					.watch-slider
						img(src="images/w9.png", alt="Smart Watch U8")
					.dots
						.dot
						.dot
						.dot
						.dot
						.dot
				.order
					input(type="text" placeholder="Ваше имя" class="form-name" name="form-name" required)
					input(type="text" placeholder="Ваш телефон" class="form-phone" name="form-phone" required)
					input(type="hidden" name="form-item" value="Smart Watch U8" class="form-item")
				.watch-btn 
					div.send-btn(name="submit" type="submit") Заказать сейчас!
			.watch.w12
				.watch-description
					.watch-item
						.watch-title Smart Watch GV11
						.watch-price 1 610.00 RUB
					.about-watch
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						p.hidden.
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
						a(href="#" class="read-more") Читать полностью
					.watch-params
						.param Встроеный Bluetooth
						.param Батарея 1600 А
						.param Встроенная камера
						.param Время работы 16 часов
				.watch-photos
					.watch-slider
						img(src="images/w10.png", alt="Smart Watch GV11")
					.dots
						.dot
						.dot
						.dot
				.order
					input(type="text" placeholder="Ваше имя" class="form-name" name="form-name" required)
					input(type="text" placeholder="Ваш телефон" class="form-phone" name="form-phone" required)
					input(type="hidden" name="form-item" value="Smart Watch GV11" class="form-item")
				.watch-btn 
					div.send-btn(name="submit" type="submit") Заказать сейчас!
	section.steps
		.wrap
			.steps-title Как сделать заказ <i>у нас на сайте</i>
			ul
				li
					span Заявка
					p.
						Выбираете понравившуюся модель <br>
						и оставляете заявку, указав свой телефон
				li
					span Звонок
					p.
						С вами связывается наш менеджер, <br>
						для консультации и подтверждения заказа
				li
					span Доставка
					p.
						Мы сразу отправляем часы <br>
						на указанный Вами адрес в любой город
				li
					span Оплата
					p.
						Вы получаете часы у курьера <br>
						и производите оплату за них
	section.response
		.container
			h5 Отзывы <i>наших клиентoв</i>
			.response-wrap
				.response-item
					.avatar
						img(src="images/ava.png", alt="Ирина Бурчук")
					.author-name Ирина Бурчук
					.about-author.
						26 лет, купила часы <br> с доставкой в Краснодар
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
				.response-item
					.avatar
						img(src="images/ava.png", alt="Ирина Бурчук")
					.author-name Ирина Бурчук
					.about-author.
						26 лет, купила часы <br> с доставкой в Краснодар
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
				.response-item
					.avatar
						img(src="images/ava.png", alt="Ирина Бурчук")
					.author-name Ирина Бурчук
					.about-author.
						26 лет, купила часы <br> с доставкой в Краснодар
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
			.show-more Показать еще...
	footer
		.container
			h6 Как <i>с нами связаться?</i>
			.contacts-info
				p.
					По вопросам оптовых закупок обращайтесь по электронной почте: smartmywatch@gmail.com
				p.
					ИП Добрынина Елена Викторовна
				p.
					ИНН 450100047534
				p.
					ОГРНИП 310450108300097
				p.
					ОКПО 0113191669
				p.
					г.Москва, м.Новокосино, Носовихинское шоссе 45, ТЦ Реутов-парк
				p.
					тел.: +7 (495) 532 999 0
	.modal-bg
	.thx
		p.
			<b>Благoдарим Вас</b>, <br>
			Ваша заявка oтnравлена. <br>
			Мы свяжемся с вами <br>
			в ближайщее время!
		a(href="#" id="close-modal")	Закрыть
	script(src="js/jquery-2.1.3.min.js")
	script(src="js/main.js")
